﻿server:
  port: 30012
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    validationQuery: SELECT 'x'
    password: {{ mysql_password }}
    username: {{ mysql_username }}
    url: jdbc:mysql://{{ mysql_url }}/pcp_batch_server?useUnicode=true&characterEncoding=utf-8&useSSL=false
  redis:
    sentinel:
      master: {{ redis_cluster }}
      nodes: {{ redis_nodes }}
    maxIdle: 300
    maxTotal: 1000
    maxWaitMillis: 1000
    minEvictableIdleTimeMillis: 300000
    numTestsPerEvictionRun: 1024
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 30000
    timeout: 10000
    database: 15
    #hostName: 10.0.48.38
    password: {{ redis_password }}
    port: {{ redis_port }}
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: {{ eureka_url }}/eureka/
  instance:
    prefer-ip-address: true
    ip-address: {{ eureka_instance_ip }}
logging:
  level:
    dao:
      com:
        ithinkdt: INFO
        agilines: INFO
    com:
      ithinkdt: INFO
      agilines: INFO
    io:
      swagger:
        models:
          parameters:
            AbstractSerializableParameter: ERROR
    springfox:
      documentation:
        spring:
          web:
            readers:
              operation: ERROR
    org:
      springframework: ERROR

ribbon:
  ConnectTimeout: 30000
  MaxAutoRetries: 1
  MaxAutoRetriesNextServer: 2
  ReadTimeout: 5000
ithinkdt:
  security:
    social:
      - icon: wechat.png
        icon_alive: alive-wechat.png
        title: 深迪SSO登录
        auth_type: Author2.0
        auth_kind: ithinkdtsso
        client_id: pcp
        client_secret: 123456
        url: {{ sso_url }}/api/v1/pcp/pub/ssologin/callback
        ssoUrl: {{ sso_url }}/api/v1/pcp/pub/ssologin
        user-authorization-uri: {{ oauth2_url }}/pub/oauth2/authorize?response_type=code&client_id=pcp&redirect_uri=[REDIRECT_URI]&scope=all&domain=[DOMAIN]
        access_token_uri: {{ oauth2_url }}/pub/oauth2/access_token?grant_type=authorization_code&client_id=pcp&client_secret=123456&code=[CODE]
        user_info_uri: {{ oauth2_url }}/cli/full_user_info?access_token=[ACCESS_TOKEN]&domain=[DOMAIN]
        logout_uri: {{ oauth2_url }}/cli/logout?access_token=[ACCESS_TOKEN]
  oauth2:
    default:
      enable: true
  oauth:
    config:
      no-user-redirect: {{ oauth_url }}/api/v1/ithinkdt-user-center/pub/register_user?profile=[PROFILE]&redirectUri=[REDIRECT_URI]
  user-center:
    config:
      register-uri: {{ oauth_url }}/#/pub/register?domain=[DOMAIN]&profile=[PROFILE]&redirectUri=[REDIRECT_URI]
  file-center:
    config:
      upload-uri: {{ sso_url }}/api/v1/ithinkdt-file/pub/bus/file/upload.do
      download-uri: {{ sso_url }}/api/v1/ithinkdt-file/pub/bus/file/download.do?fileId=[FILE_ID]
  pcp-backend:
    config:
      replace-uri: {{ sso_url }}/api/v1/pcp/pub/batch_server/part/do_replace_result
      change-uri: {{ sso_url }}/api/v1/pcp/pub/batch_server/part/do_change_result
      weight-uri: {{ sso_url }}/api/v1/pcp/pub/batch_server/part/do_weight_count_result
  secretKey: dufiqrlewrjpadsf1244fdas
xxl:
  job:
    accessToken:
    admin:
      addresses: {{ xxl_job_url }}/xxl-job-admin
    executor:
      appname: pcp-batch-server-job-prd
      address:
      ip: {{ xxl_job_ip }}
      port: 9999
      logpath:
      logretentiondays: 7