﻿spring:  
  application:  
    name: pcp-jt-client
ithinkdt:
  domain: {{client}}
  jt:  
    upload_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/bom/jt/upload"
    upload_url2: "{{domain_url}}/api/v1/pcp-bom-backend/pub/cadBom/webFile/upload"
    file_conversion_tool: C:\Temp\mq-jt\jt2json-v2.ps1
    web_file_path: C:\Temp\Catia\web_json\file
    file_path: C:\Temp\Catia\jt\
    delete_file: true
    save_file_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/cadBom/cadFile/saveCadFile"
  catia:  
    download_url: "{{domain_url}}/api/v1/ithinkdt-file/pub/bus/file/download.do?fileId=[FILE_ID]"
    file_path: C:\Temp\Catia\file\
    config_file: C:\Temp\mq-jt\catiatojt.config
    file_conversion_tool: C:\Program Files\Siemens\JTTranslators\CATIAV5\10.1\jt_catiav5.exe
    delete_file: true
  bom:  
    get_conversion_task_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/bom/conversionTask/getTask"
    start_conversion_task_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/bom/conversionTask/updateStatus"
    update_conversion_task_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/bom/conversionTask/updateConversionInfo"
    update_2d_pdf_id_url: "{{domain_url}}/api/v1/pcp-bom-backend/pub/part_2d/fileId"
    secretKey: dufiqrlewrjpadsf1244fdas  
  file-center:  
    config:  
      upload-uri: '{{domain_url}}/api/v1/ithinkdt-file/pub/bus/file/upload.do'
  conversion_management: true  
  versionReplaceList: ., -  
  pdf:  
    path: C:\pdf-software-all\
  drawing:  
    download_url: "{{domain_url}}/api/v1/ithinkdt-file/pub/bus/file/download.do?fileId=[FILE_ID]"
    save_path: C:\pdf-software-all\jt-client-server\drawing\printPDF_file\
    config_file: C:\pdf-software-all\jt-client-server\drawing\printPDF\PrintFiles.txt
  dwg:
     transfer_util_path: C:\pdf-software-all\jt-client-server\AcmeCAD2022_v8.10.2.1536_Chs\AcmeCAD\
     transfer_util_report_path: C:\pdf-software-all\jt-client-server\AcmeCAD2022_v8.10.2.1536_Chs\AcmeCAD\report\
  
eureka:  
  client:  
    fetch-registry: true  
    register-with-eureka: true  
    service-url:  
      defaultZone: {{eureka_url}}/eureka/
  instance:  
    prefer-ip-address: true  
server:  
  port: 40006  
# MQ  
mq:  
  broker: {{mq_url}}
  catia:  
    start: false 
    # 默认消费分组(一般用作集群类消息，同一组内只有一台会收到消息)  
    consumerGroup: pcp-consumer  
    # 默认TOPIC  
    topic: jt-client-topic  
    # 默认TAG(值为*时需要加引号)  
    tag: "*"  
  drawing:  
    start: true  
    # 默认消费分组(一般用作集群类消息，同一组内只有一台会收到消息)  
    consumerGroup: pcp-drawing-consumer  
    # 默认TOPIC  
    topic: jt-client-drawing-topic  
    # 默认TAG(值为*时需要加引号)  
    tag: "*"  
  dwg:  
    start: false  
    # 默认消费分组(一般用作集群类消息，同一组内只有一台会收到消息)  
    consumerGroup: pcp-dwg-consumer  
    # 默认TOPIC  
    topic: jt-client-dwg-topic  
    # 默认TAG(值为*时需要加引号)  
    tag: "*"  
feign:  
  connect:  
    timeout:  
      millis: 3000  
  httpclient:  
    enabled: true  
  hystrix:  
    enabled: true  
  read:  
    timeout:  
      millis: 5000  
  
hystrix:  
  command:  
    default:  
      execution:  
        isolation:  
          strategy: SEMAPHORE  
          thread:  
            timeoutInMilliseconds: 10000.0  
        timeout:  
          enabled: false  
ribbon:  
  ConnectTimeout: 30000  
  MaxAutoRetries: 1  
  MaxAutoRetriesNextServer: 2  
  ReadTimeout: 5000