"C:\Program Files\Dassault Systemes\{{ pdf_version }}\win_b64\code\bin\CATSTART.exe" -run "CNEXT -macro D:\pdf-software-all\jt-client-server\drawing\printPDF\PrintPDF.CATScript -batch" -env {{catia_env}} -direnv "C:\ProgramData\DassaultSystemes\CATEnv"